<h1>Matches Available<h1>
<div>
    <% if @matches.empty? %>
        <h1> No Matches Found.</h1>
    <% elsif @matches.size == 1 %>
        <h1><%= @matches.size %> Matches Found. </h1>
    <% else %>
        <h1><%=  @matches.size %> Matches Found. </h1>
    <% end %>

    <% if @matches.empty? %>
        <p>No Matches were played.</p>
    <% else %>

    <%= paginate @matches%>
</div>

<table>
    <tr>
        <th>Date</th>
        <th>Name</th>
    </tr>

    <% @matches.each do |match|  %>
        <tr>
            <td>
                <p><%= match.date %></p>
            </td>
            <td>
                <p><%= link_to match.name , match %>
            </td>
        </tr>
    <% end %>
</table>
<% end %>