<ul>
    <li><a href="http://localhost:3000/home">Home</a></li>
    <li><a href="http://localhost:3000/season">EPL 2016/17</a></li>
    <li><a href="http://localhost:3000/matches">MatchDays</a></li>
    <li><a href="http://localhost:3000/teams">Team</a></li>
    <li><a href="http://localhost:3000/search">Search</a></li>
</ul>

<div>
<h1>Match Days</h1>
<%= paginate @matches %>
</div>

<% if @matches.count == 1 %>
    <h1><%= @matches.name%></h1>
<% else %>
    <h1><%= @matches.name%></h1>
<% end %>

<table>
<tr>
    <th>Match Date</th>
    <th>Match Name</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Match Info</th>
</tr>

<% @matches.each do |match| %>
    <tr>
        <td><p><%= match.date%></p></td>
        <td><p><%= match.name%></p></td>
        <td><p><%= match.homeTeam%></p></td>
        <td><p><%= match.awayTeam%></p></td>
        <td><p><%= link_to "Match details" , match%></p></td>
    </tr>
<% end %>
</table>