<ul>
    <li><a href="http://localhost:3000/home">Home</a></li>
    <li><a href="http://localhost:3000/season">EPL 2016/17</a></li>
    <li><a href="http://localhost:3000/matches">MatchDays</a></li>
    <li><a href="http://localhost:3000/teams">Team</a></li>
    <li><a href="http://localhost:3000/search">Search</a></li>
</ul>

<% match = @match%>
<div>
    <h1>Match Details</h1>
    <p><b>Match  Name: </b><%=match.name%></p>
    <p><b>Match  Date: </b><%=match.date%></p>
    <p><b>Match  Name: </b><%=match.name%></p>
    <p><b>Match  HomeTeams: </b><%=match.homeTeam%></p>
    <p><b>Match  HomeTeamScore: </b><%=match.homeTeamScore%>
    <p><b>Match  AwayTeams: </b><%=match.awayTeam%></p>
    <p><b>Match  AwayTeamScore: </b><%=match.awayTeamScore%>
    </div>