
<% match = @match%>
<div>
    <h1>Match Details</h1>
    <p><b>Match  Name: </b><%=match.name%></p>
    <p><b>Match  Date: </b><%=match.date%></p>
    <p><b>Match  Name: </b><%=match.name%></p>
    <p><b>Match  HomeTeams: </b><%=match.homeTeam%></p>
    <p><b>Match  HomeTeamScore: </b><%=match.homeTeamScore%>
    <p><b>Match  AwayTeams: </b><%=match.awayTeam%></p>
    <p><b>Match  AwayTeamScore: </b><%=match.awayTeamScore%>
    <p><b>Match  Season: </b><%=match.season.name%>
    </div>